/* styles.css */
body {
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    color: #333;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card-img-top {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: -50px;
}
.card-body {
    text-align: center;
}
.fab,
.fas,
.fa-brands {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
#contactInfo {
    transition: filter 0.3s ease;
}

#passwordInput {
    width: 300px; /* この幅はカードの幅に合わせて調整されています */
    margin-bottom: 80px;
}
