<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title | escape }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/styles.css' | relative_url }}"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="bg-gray-100 text-gray-900">
        <!-- Header -->
        <header class="bg-blue-600 text-white p-4 shadow">
            <div class="container mx-auto flex items-center">
                <a
                    href="{{ '/' | relative_url }}"
                    class="flex items-center space-x-2 text-white hover:underline"
                >
                    <i class="fas fa-pen h-8 w-8"></i>
                    <!-- ロゴアイコン -->
                    <h1 class="text-2xl font-bold">{{ site.title }}</h1>
                </a>
            </div>
        </header>

        <!-- Main Content -->
        <main class="container mx-auto py-8">{{ content }}</main>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white text-center p-4">
            © {{ site.title }} {{ "now" | date: "%Y" }}
        </footer>
    </body>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCHF4m09S_QLspZxixaXVKymFdsXMYcm-g",
            authDomain: "laamile.firebaseapp.com",
            projectId: "laamile",
            storageBucket: "laamile.firebasestorage.app",
            messagingSenderId: "829736344310",
            appId: "1:829736344310:web:fa855b7b29ebc92aa9ead7",
            measurementId: "G-QS06JY777Y",
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
</html>
